<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Twilio Test</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' />
    <style>
		.good-container{
			margin-top: 40px;
		}
    </style>
  </head>
  <body>
  	<div class="container good-container">
	    <%= yield %>
	</div>
  </body>
</html>
