ENV['account_sid'] = 'account_sid'
ENV['auth_token'] = 'auth_token'
ENV['from'] = '+18012345678'

ENV['test_account_sid'] = 'test_account_sid'
ENV['test_auth_token'] = 'test_auth_token'
ENV['test_from'] = '+15005550006'

ENV['ROOT_PATH'] = 'http://twilio-site.ru'

ENV['REDIS_URL'] = 'redis://localhost:6379'
